body{
    background-color: beige;
    font-size: 22px;
    text-align: center;
}

h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 3px;
    margin: 35px;
}

label{
    font-size: 18px;
    margin: 5px;
}

#tnum1, #tnum2{
    margin: 10px;
    color: aqua;
    background-color: black;
    width: 50px;
    font-size: 18px;
}

.body{
    margin-top: 300px;
}

input[type=button]{
    margin-top: 25px;
    border-radius: 50%;
    color: black;
    background-color: aqua;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    box-sizing: border-box;
}

input[type=button]:hover{
    color: aqua;
    background-color: black;
}

#resultado{
    margin-top: 40px;
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;

}